In [15]:
import pandas as pd
import sqlite3
import gzip
import shutil
import seaborn as sns
import matplotlib.pyplot as plt

with gzip.open('zippedData/tn.movie_budgets.csv.gz', 'rb') as f_in:
        with open('tn.movie_budgets.csv', 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

import zipfile
with zipfile.ZipFile('zippedData/im.db.zip', 'r') as zip_ref:
    zip_ref.extractall('unzippedData/')

In [16]:
movie_gross = pd.read_csv('unzippedData/bom.movie_gross.csv')

In [17]:
movie_budgets = pd.read_csv('unzippedData/tn.movie_budgets.csv')

In [18]:
tmdb = pd.read_csv('unzippedData/tmdb.movies.csv')

In [19]:
rt_score = pd.read_csv('unzippedData/rt.reviews.tsv', sep = '\t', encoding = ('latin-1') )

In [20]:
rt_info = pd.read_csv('unzippedData/rt.movie_info.tsv',sep = '\t')

In [21]:
movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [22]:
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [23]:
rt_info['rating'].value_counts()

R        521
NR       503
PG       240
PG-13    235
G         57
NC17       1
Name: rating, dtype: int64

In [24]:
rt_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [25]:
conn = sqlite3.connect('unzippedData/im.db')

In [26]:
movie_basics = pd.read_sql("""
SELECT *

FROM 
    movie_ratings AS mr
    INNER JOIN movie_basics AS mb
    USING (movie_id)
WHERE
    numvotes > 500

""",conn)

In [27]:
movie_basics.groupby('genres').size()

genres
Action                        100
Action,Adventure               27
Action,Adventure,Animation     83
Action,Adventure,Biography      9
Action,Adventure,Comedy       112
                             ...
Thriller                      185
Thriller,War                    1
Thriller,Western                2
War                             3
Western                         8
Length: 567, dtype: int64

In [28]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13880 entries, 0 to 13879
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         13880 non-null  object
 1   averagerating    13880 non-null  float64
 2   numvotes         13880 non-null  int64
 3   primary_title    13880 non-null  object
 4   original_title   13880 non-null  object
 5   start_year       13880 non-null  int64
 6   runtime_minutes  13827 non-null  float64
 7   genres           13877 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 867.6+ KB

In [45]:
movie_budgets['production_budget'] = movie_budgets['production_budget'].str.strip('$').str.replace(",","").astype(int)

In [43]:
movie_budgets['worldwide_gross'] = movie_budgets['worldwide_gross'].str.strip('$').str.replace(",", "").astype(float)

AttributeError: Can only use .str accessor with string values!

In [31]:
movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 271.2+ KB

In [32]:
movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625",2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875",1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350",1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868",1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382",1.316722e+09

In [ ]:
#ratings
    #-Gen
#money

In [48]:
mega_df = movie_basics.merge(movie_budgets, left_on = 'primary_title', right_on = 'movie', how = 'inner')

In [35]:
mega_df.head()

,movie_id,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,tt1043726,4.2,50352,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy",42,"Jan 10, 2014",The Legend of Hercules,"$70,000,000","$18,848,538",58953319.0
1,tt1094666,7.0,1613,The Hammer,Hamill,2010,108.0,"Biography,Drama,Sport",50,"Mar 21, 2008",The Hammer,"$850,000","$442,638",442638.0
2,tt1171222,5.1,8296,Baggage Claim,Baggage Claim,2013,96.0,Comedy,38,"Sep 27, 2013",Baggage Claim,"$8,500,000","$21,569,509",22885836.0
3,tt1210166,7.6,326657,Moneyball,Moneyball,2011,133.0,"Biography,Drama,Sport",15,"Sep 23, 2011",Moneyball,"$50,000,000","$75,605,492",111300835.0
4,tt1212419,6.5,87288,Hereafter,Hereafter,2010,129.0,"Drama,Fantasy,Romance",61,"Oct 15, 2010",Hereafter,"$50,000,000","$32,746,941",108660270.0

mega_df['Action'] = mega_df['genres'].str.contains('Action')

mega_df['Adventure'] = mega_df['genres'].str.contains('Adventure')
mega_df['Comedy'] = mega_df['genres'].str.contains('Comedy')
mega_df['Family'] = mega_df['genres'].str.contains('Family')
mega_df['Crime'] = mega_df['genres'].str.contains('Crime')
mega_df['Thriller'] = mega_df['genres'].str.contains('Thriller')
mega_df['Sport'] = mega_df['genres'].str.contains('Sport')
mega_df['Animation'] = mega_df['genres'].str.contains('Animation')
mega_df['Horror'] = mega_df['genres'].str.contains('Horror')
mega_df['Fantasy'] = mega_df['genres'].str.contains('Fantasy')
mega_df['Romance'] = mega_df['genres'].str.contains('Romance')
mega_df['Sci-Fi'] = mega_df['genres'].str.contains('Sci-Fi')
mega_df['Sport'] = mega_df['genres'].str.contains('Sport')
mega_df['Documentary'] = mega_df['genres'].str.contains('Documentary')
mega_df['History'] = mega_df['genres'].str.contains('History')
mega_df['Music'] = mega_df['genres'].str.contains('Music')
mega_df['Mystery'] = mega_df['genres'].str.contains('Mystery')
mega_df['Drama'] = mega_df['genres'].str.contains('Drama')
mega_df['War'] = mega_df['genres'].str.contains('War')
mega_df['Biography'] = mega_df['genres'].str.contains('Biography')
mega_df['Musical'] = mega_df['genres'].str.contains('Musical')

In [51]:
genre_list = ['Adventure', 'Comedy', 'Family', 'Crime', 'Thriller', 'Sport', 'Animation',
              'Horror', 'Fantasy', 'Romance', 'Sci-Fi', 'Documentary', 'History', 'Music',
              'Mystery', 'Drama', 'War', 'Biography', 'Musical','Action']

for genre in genre_list:
    mega_df[genre] = mega_df['genres'].str.contains(genre)

mega_df['Profit'] = mega_df['worldwide_gross'] - mega_df['production_budget']

# Split the genres column into a list of genres
mega_df['genres'] = mega_df['genres'].str.split(',')

In [ ]:
mega_df.info()

In [50]:
mega_df['Profit'] = mega_df['worldwide_gross'] - mega_df['production_budget']

In [53]:
mega_df.to_csv('unzippedData/megadf4.csv')

In [ ]:
mega_df.head()

In [52]:
mega_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1933 entries, 0 to 1932
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           1933 non-null   object
 1   averagerating      1933 non-null   float64
 2   numvotes           1933 non-null   int64
 3   primary_title      1933 non-null   object
 4   original_title     1933 non-null   object
 5   start_year         1933 non-null   int64
 6   runtime_minutes    1932 non-null   float64
 7   genres             1933 non-null   object
 8   id                 1933 non-null   int64
 9   release_date       1933 non-null   object
 10  movie              1933 non-null   object
 11  production_budget  1933 non-null   int32
 12  domestic_gross     1933 non-null   object
 13  worldwide_gross    1933 non-null   float64
 14  Profit             1933 non-null   float64
 15  Adventure          1933 non-null   bool
 16  Comedy             1933 non-null   bool
 17  Family             1933 non-null   bool
 18  Crime              1933 non-null   bool
 19  Thriller           1933 non-null   bool
 20  Sport              1933 non-null   bool
 21  Animation          1933 non-null   bool
 22  Horror             1933 non-null   bool
 23  Fantasy            1933 non-null   bool
 24  Romance            1933 non-null   bool
 25  Sci-Fi             1933 non-null   bool
 26  Documentary        1933 non-null   bool
 27  History            1933 non-null   bool
 28  Music              1933 non-null   bool
 29  Mystery            1933 non-null   bool
 30  Drama              1933 non-null   bool
 31  War                1933 non-null   bool
 32  Biography          1933 non-null   bool
 33  Musical            1933 non-null   bool
 34  Action             1933 non-null   bool
dtypes: bool(20), float64(4), int32(1), int64(3), object(7)
memory usage: 271.8+ KB